@import '../../style/fontUrl';
@import '../../style/var';
@import '../../style//mixin';

.dashboard {
    background-color: $bg-color;
    min-height: 100vh;
    width: 100vw;

    &__container {
        padding-top: 98px;
        padding-bottom: 98px;
        padding-left: 135px;
        padding-right: 135px;

        &__header {
            @include flexprop;
            height: 50px;
            width: 1640.99px;

            &__sidenav > img {
                margin-left: 20px;            
            }
        }

        &__sidebar {
            margin-top: 22px;
            display: flex;
            flex-direction: row;

            &__left {
                background-color: #FFFFFF;
                height: 810px;
                width: 390px;
                border-radius: 20px;

                hr {
                    border-top: 2px solid #EBF2F7;
                }

                &__header {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    &__title {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: center;
                        margin-left: 30.5px;
                        margin-top: 16.5px;
                    }

                    &__title > img {
                        height: 40px;
                        width: 40px;
                    }

                    &__title > h3 {
                        font-family: 'Rajdhani';
                        font-size: 18px;
                        font-weight: 700;
                        margin-left: 8.5px;
                    }

                    &__price {
                        height: 30px;
                        width: 50px;
                        border-radius: 3px;
                        margin-top: 16.5px;
                        margin-right: 30px;
                    }

                    &__price > p {
                        color: #FFFFFF;
                        background-color: #508FF4;
                        font-size: 14px;
                        font-family: 'Rajdhani';
                        font-weight: 700;
                        padding-left: 11px;
                        padding-top: 3px;
                        padding-bottom: 3px;
                        border-radius: 3px;
                    }
                }

                &__linebar {
                    width: 330px;
                }

                &__special {
                    display: flex;
                    flex-direction: row;
                    margin-left: 30.5px;
                    margin-top: 19px;
                    background-color: #EAF2FF;
                    padding-top: 11px;
                    padding-bottom: 7px;
                    border-radius: 20px;
                    margin-right: 30.5px;

                    &__first {
                        padding-left: 16px;
                    }

                    &__second {
                        padding-left: 16px;
                        color: #508FF4;
                        font-size: 16px;
                        font-family: 'Rajdhani';
                        font-weight: 500;
                    }
                }

                &__special--message {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    &__part2 {
                        height: 30px;
                        width: 30px;
                        background-color: #52575D;
                        margin-right: 35px;
                        margin-top: 26px;
                        color: #FFFFFF;
                        font-family: 'Rajdhani';
                        border-radius: 50%;
                        // padding-left: 10px;
                        // padding-top: 5px;
                    }

                    &__part {
                        display: flex;
                        flex-direction: row;
                        margin-left: 30.5px;
                        margin-top: 19px;
                        padding-top: 11px;
                        padding-bottom: 7px;
                        border-radius: 20px;
                        margin-right: 30.5px;
    
                        &__first {
                            padding-left: 16px;
                        }
    
                        &__second {
                            padding-left: 16px;
                            color: #52575D;
                            font-size: 16px;
                            font-family: 'Rajdhani';
                            font-weight: 500;
                        }
                    }
                    
                }

                &__common {
                    display: flex;
                    flex-direction: row;
                    margin-left: 30.5px;
                    margin-top: 19px;
                    padding-top: 11px;
                    padding-bottom: 7px;
                    border-radius: 20px;
                    margin-right: 30.5px;

                    &__first {
                        padding-left: 16px;
                    }

                    &__second {
                        padding-left: 16px;
                        color: #52575D;
                        font-size: 16px;
                        font-family: 'Rajdhani';
                        font-weight: 500;
                    }
                }
            }
        }
    }
}