@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Joan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500;700&family=Joan&display=swap');

.news__body {
    background-color: #F7F7F9;
    width: 100vw;
    min-height: 100vh;
}

.news {
    padding-top: 4em;
    padding-left: 10em;

    &__container {
        margin-top: 3em;
        display: flex;
        flex-direction: row;

        &__card {
            margin-right: 1em;

            &__image {
                width: 27.6875rem;
                height: 18rem;
            }

            &__description {
                margin-top: 2em;
                font-family: DM Sans;
                font-weight: 500;
                font-size: 1.5rem;
                color: #001828;
                width: 26.6875rem;
                height: 4.75rem;
            }
        }
    }

    &__bar {
        width: 13.1875rem;
        height: 0.125rem;
        background-color: black;
        margin-bottom: 3em;

        &__info {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            &__title {
                font-family: 'Ubuntu';
                font-weight: 700;
                font-size: 2.25rem;
                color: #001828;;
                width: 10.5rem;
            }

            &__figure {
                margin-right: 10.0625em;

                &__arrow {
                    height: 3rem;
                    width: 3rem;
                    margin-left: 32px;
                }
            }
        }
    }  

    &__explore {
        &__btn {
            margin-top: 3em;
            margin-bottom: 3em;
            background-color: #FFFFFF;
            border: 1px solid #D2D2D2;
            padding: 23px 41px;
        
            font-family: 'DM Sans';
            font-weight: 700;
            font-size: 1.25rem;
        }
    }
}

// Mobile Device
@media only screen and (max-width: 688px) {

    .news {
        padding-top: 4em;
        padding-left: 1.5em;
        padding-right: 1.5em;
    
        &__container {
            margin-top: 2em;
            display: flex;
            flex-direction: column;
    
            &__card {
                margin-right: 0em;
                margin-bottom: 2em;
    
                &__image {
                    width: 19.5rem;
                    height: 12.25rem;
                }
    
                &__description {
                    margin-top: 0.5em;
                    font-size: 1rem;
                    color: #001828;
                    width: 17.8125rem;
                    height: 3.25rem;
                }
            }
        }
    
        &__bar {
            width: 4rem;
            height: 0.25rem;
            background-color: black;
            margin-bottom: 2em;
    
            &__info {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
    
                &__title {
                    font-size: 1.5rem;
                    color: #001828;;
                    width: 7rem;
                    height: 1.75rem;
                }
    
                &__figure {
                    display: none;
                }
            }
        } 
        
        &__explore {
            // &__btn {
            //     margin-top: 0em;
            //     margin-bottom: 3em;
            //     padding-left: 6.5625em;
            //     padding-left: 6.5em;
            //     padding-top: 1.375em;
            //     padding-right: 1.3125em;
            //     font-size: 1rem;

            //     width: 6.4375rem;
            //     height: 1.3125rem;
            // }
            &__btn {
                margin-top: 0em;
                margin-bottom: 3em;
                padding-left: 6.5625em;
                padding-left: 6.5em;
                padding-top: 1.375em;
                padding-right: 1.3125em;
                // padding: 23px 41px;
                padding-left: 6.5em;
                font-size: 1rem;
            }
        }
    }
}