@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500;700&family=Joan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500;700&family=Joan&display=swap');


.section {
    min-height: 100vh; 
    width: 100vw;
    background-color: #FFFFFF;;    

    &__container {
        padding-left: 12em;
        padding-right: 12em;
        padding-top: 2em;
        padding-bottom: 2em;

        display: flex;
        flex-direction: row;

        &__course {
            margin-right: 2.3125em;
            margin-left: 0;
            margin-top: 0;
            margin-bottom: 0;

            &__course-curriculum {
                display: flex;
                flex-direction: row;

                &__course {
                    width: 21.25rem;
                    height: 4rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #0961E7;
                    color: #FFFFFF;
                    font-family: DM Sans;
                    font-weight: 700;
                    font-size: 1.5rem;
                    // width: 9.125rem;
                    // height: 2.375rem;
                }

                &__curriculum {
                    width: 21.25rem;
                    height: 4rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    background-color: #F3F3F3;
                    color: #001828;
                    font-family: 'DM Sans';
                    font-weight: 700;
                    font-size: 1.5rem;
                    // width: 8.1875rem;
                    // height: 2.375rem;
                }
            }

            &__course-article--about {
                margin-bottom: 2em;
                width: 42.5rem;
                height: 9.75rem;
            }

            &__course-article--earn {
                margin-bottom: 2em;
                width: 42.5rem;
                height: 6.5rem;
            }

            &__course-article--require {
                margin-bottom: 2em;
                width: 42.5rem;
                
                &__tick {
                    display: flex;
                    flex-direction: row;
                    margin-bottom: 0.5em;
                }

                &__tick > div > img {
                    margin-right: 0.768125em;
                }

                &__tick > div:nth-child(2) {
                    font-family: 'DM Sans';
                    font-weight: 500;
                    font-size: 1rem;
                }
            }

            &__course-article--about > p {
                font-family: 'DM Sans';
                font-weight: 700;
                font-size: 1.25rem;
            }

            &__course-article--about > article {
                font-family: 'DM Sans';
                font-weight: 500;
                font-size: 1rem;
            }

            &__course-article--earn > p {
                font-family: 'DM Sans';
                font-weight: 700;
                font-size: 1.25rem;
            }

            &__course-article--earn > article {
                font-family: 'DM Sans';
                font-weight: 500;
                font-size: 1rem;
            }

            &__course-article--require > p {
                font-family: 'DM Sans';
                font-weight: 700;
                font-size: 1.25rem;
                margin-bottom: 1em;
            }
        }

        // right side bar css code here

        &__detail {
            width: 21.1875rem;
            height: 46.375rem;
            background: #F3F3F3;
            border-radius: 2px;
            padding-top: 2.0625em;

            &__topic {
                display: flex;
                flex-direction: row;
            }

            &__topic > figure {
                width: 3.5rem;
                height: 3.5rem;
                background-color: hsl(0, 0%, 100%);
                border-radius: 1rem;
                display: flex;
            }

            &__topic > figure > img {
                // position: relative;
                // top: 0;
                // left: 0;
                // right: 0;
                padding: 1rem 0.875rem;
            }

            // &__topic > figure > img:nth-child(2) {
            //     // position: absolute;
            //     margin-bottom: 0.9375em;
            //     margin-right: 0.9375em;
                
            //     margin-left: 1.8125em;
            //     margin-top: 1.8125em;
            //     // margin-top: 5px;

            //     height: 12px;
            //     width: 12px;
            //     z-index: 2;
            // }

            &__topic > section {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            &__topic > section > p:nth-child(1) {
                font-family: 'DM Sans';
                font-weight: 500;
                font-size: 1rem;
                margin: 0;
                padding: 0;
            }

            &__topic > section > p:nth-child(2) {
                font-family: 'DM Sans';
                font-weight: 700;
                font-size: 1.25rem;
                margin: 0;
                padding: 0;
            }

            // apply button
            &__apply {
                // margin-left: 2em;
                // margin-bottom: 2em;
                // margin-right: 2em;

                &__btn {
                    margin-left: 2em;
                    margin-right: 2em;
                    background-color: #0961E7;
                    text-decoration: none;
                    border-radius: 2px;
                    border: none;
                    font-family: 'DM Sans';
                    font-weight: 700;
                    font-size: 1rem;
                    color: #FFFFFF;
                    padding-top: 1.4375em;
                    padding-bottom: 1.4375em;
                    padding-left: 5.75em;
                    padding-right: 5.4375em;
                    // width: 96px;
                    // height: 26px;
                }
            }
        }
    }
}